# CMake build directory
/build/
**/build/


# Compiled objects
*.o
*.ko
*.obj
*.elf

# Executables
*.exe
*.out
*.app

# CMake files
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
CMakeSettings.json

# Visual Studio Code directory
.vscode/

# Compiled Dynamic Libraries
*.so
*.dylib

# Compiled Static Libraries
*.a

# Package files
*.deb
*.dmg
*.rpm
*.msi
*.zip
*.tar.gz

# Other files
Thumbs.db
.DS_Store

